body
{
    margin:0;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:black;

    font-family:Arial, sans-serif;
}

.calculator
{
    background:#1e1e1e;

    width:420px;

    padding:25px;

    border-radius:30px;

    box-shadow:
    0px 20px 50px rgba(0,0,0,0.8);
}



#display
{
    width:100%;
    height:70px;
    box-sizing:border-box;
    border-radius:15px;
    border:2px solid #888;

    font-size:34px;

    text-align:right;

    padding:0 15px;

    background:black;
    color:#00ff88;
    margin-bottom:18px;

    overflow-x:auto;
    white-space:nowrap;
}


.buttons
{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}


button
{
    height:65px;

    border:none;
    border-radius:14px;

    font-size:22px;

    cursor:pointer;

    background:linear-gradient(#4a4a4a,#2a2a2a);

    color:white;

    box-shadow:
    0px 4px 6px rgba(0,0,0,0.6),
    inset 0px 2px 3px rgba(255,255,255,0.2);

    transition:0.15s;
}

button:active
{
    transform:scale(0.95);
    box-shadow:
    inset 0px 4px 6px rgba(0,0,0,0.7);
    }

    .operator
    {
    background:linear-gradient(#ff9500,#cc7700);
}

.equal
{
    background:linear-gradient(#34c759,#248a3d);
}

.control
{
    background:linear-gradient(#ff3b30,#b22222);
}

.zero
{
    grid-column:span 2;
}

.container
{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.title
{
    color:white;
    margin-bottom:20px;
    font-size:36px;
    letter-spacing:2px;
}